<html><head></head><body><div class="chapter" title="Chapter&#xA0;6.&#xA0;Getting Started with Django">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h1 class="title"><a id="ch06"/>&#13;
 Chapter 6. Getting Started with Django</h1>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>&#13;
<span class="strong">&#13;
<strong>Django</strong>&#13;
</span>&#13;
 <a id="id490" class="indexterm"/>&#13;
 is an open source web framework employed in commercial environments because it is easy to use, stable, and flexible (it takes advantage of the multiple libraries available in Python).</p>&#13;
<p>In this chapter, we will focus on the features that we think are crucial for managing and analyzing data in the framework. We also explain the main parts relevant to building an essential web application, but further details and information can be found online at <a class="ulink" href="https://docs.djangoproject.com">https://docs.djangoproject.com</a>&#13;
 or other sources. We will introduce the main parts of the framework with the basic concepts of a web server application (settings, models, and commands), the basics of HTML and the shell interface, and the general ideas of a REST framework interface and how it is implemented in Django (serializers, REST calls, and swagger). After a brief introduction of the HTTP GET and POST method for transferring data over the Internet, we start installing and creating a new server in Django.</p>&#13;
<div class="section" title="HTTP – the basics of the GET and POST methods">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h1 class="title"><a id="ch06lvl1sec39"/>&#13;
 HTTP – the basics of the GET and POST methods</h1>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>&#13;
<span class="strong">&#13;
<strong>Hypertext Transfer Protocol</strong>&#13;
</span>&#13;
 (<span class="strong">&#13;
<strong>HTTP</strong>&#13;
</span>&#13;
 ) allows a client (for example, the web browser) to interact with a<a id="id491" class="indexterm"/>&#13;
 server (our application). Given<a id="id492" class="indexterm"/>&#13;
 a URL of a server web<a id="id493" class="indexterm"/>&#13;
 page, the GET method is <a id="id494" class="indexterm"/>&#13;
 the way the client queries data from the server, specifying<a id="id495" class="indexterm"/>&#13;
 some parameters. This can be explained using the <code class="literal">curl</code>&#13;
 command, as follows:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>curl -X GET url_path?name1=value1&amp;name2=value2</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>After the <code class="literal">?</code>&#13;
 symbol, the name/value pair specifies which data to query, and they are separated by a <code class="literal">&amp;</code>&#13;
 symbol.</p>&#13;
<p>The way a client transfers data to the server is called POST, and the data is in the <span class="emphasis">&#13;
<em>body</em>&#13;
</span>&#13;
 of the call:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>curl -X POST  -d @datafile.txt url_path</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Now we can start discussing how to create a new server and an application using Django.</p>&#13;
<div class="section" title="Installation and server creation">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec38"/>&#13;
 Installation and server creation</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>The Django library<a id="id496" class="indexterm"/>&#13;
 is installed by typing the following command in the <a id="id497" class="indexterm"/>&#13;
 Terminal:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>sudo pip instal django</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>The command should install Django Version 1.7 or above (the author used version 1.7). In order to start a new app, we type the following command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>django-admin startproject test_server</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>It will generate a new folder <code class="literal">test_app</code>&#13;
 with the following tree of files:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>└── test_server</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── manage.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    └── test_server</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        ├── settings.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        ├── urls.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        └── wsgi.py</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>We can see that, inside the folder, we have the <code class="literal">manage.py</code>&#13;
 file, which allows the programmer to run various actions, and another subfolder, <code class="literal">test_app</code>&#13;
 , with the following files:</p>&#13;
<div class="itemizedlist">&#13;
<ul class="itemizedlist">&#13;
<li class="listitem">&#13;
<code class="literal">settings.py</code>&#13;
 : This stores all the parameters' settings to configure the server</li>&#13;
<li class="listitem">&#13;
<code class="literal">urls.py</code>&#13;
 : This collects all the URL paths available on your web application, and the actual functions behind the web pages are usually written in the <code class="literal">views.py</code>&#13;
 app file</li>&#13;
<li class="listitem">&#13;
<code class="literal">wsgi.py</code>&#13;
 : This is a module to make a server communicate with a web application</li>&#13;
<li class="listitem">&#13;
<code class="literal">__init__.py</code>&#13;
 : This file is used to define every folder as a package, to import modules internally</li>&#13;
</ul>&#13;
</div>&#13;
<p>On our local machine, the server with a <span class="strong">&#13;
<strong>Welcome to Django</strong>&#13;
</span>&#13;
 page is deployed on <code class="literal">http://127.0.0</code>&#13;
 <code class="literal">.1:8080/</code>&#13;
 simply by typing the following command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py runserver 8080</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Here, <code class="literal">8080</code>&#13;
 is the port on which the server is started (if no port is specified, by default the server is started on <code class="literal">port 8000</code>&#13;
 ). Now that the server is ready, we can create as many applications as we want by simply typing the following command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py startapp nameapp</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>This will create a new folder, <code class="literal">nameapp</code>&#13;
 , inside the <code class="literal">test_app</code>&#13;
 folder at root:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>├── manage.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>├── nameapp</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── admin.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── migrations</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── models.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── tests.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   └── views.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>└── test_server</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── settings.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── urls.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    └── wsgi.py</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>We will <a id="id498" class="indexterm"/>&#13;
 discuss the contents of this folder and its functions after we <a id="id499" class="indexterm"/>&#13;
 explain the most important settings parameters. Note that for Django Version 1.9, the <code class="literal">nameapp</code>&#13;
 folder contains the <code class="literal">apps.py</code>&#13;
 file in order to configure <code class="literal">nameapp</code>&#13;
 without using the <code class="literal">settings.py</code>&#13;
 file.</p>&#13;
</div>&#13;
<div class="section" title="Settings">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec39"/>&#13;
 Settings</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>The <code class="literal">settings.py</code>&#13;
 file<a id="id500" class="indexterm"/>&#13;
 stores all the configurations needed for the Django server to operate. The most important parameters to set are as follows:</p>&#13;
<div class="itemizedlist">&#13;
<ul class="itemizedlist">&#13;
<li class="listitem">Apart from the common Django apps installed by default to manage a website, we will also install the REST framework:<div class="informalexample">&#13;
<pre class="programlisting">INSTALLED_APPS = (
...
'rest_framework',
'rest_framework_swagger',
'nameapp',
)</pre>&#13;
</div>&#13;
<p>The REST framework is an application that allows the Django app (<code class="literal">nameapp</code>&#13;
 in this case) to communicate through a REST API, and the REST Framework Swagger is just a web interactive interface to manage the REST APIs. These functionalities will be explained in the following sections. Also, note that each app created needs to be added in this field (in this case, <code class="literal">nameapp</code>&#13;
 ).</p>&#13;
</li>&#13;
<li class="listitem">Different backend <a id="id501" class="indexterm"/>&#13;
 databases (<span class="strong">&#13;
<strong>MySQL</strong>&#13;
</span>&#13;
 , <span class="strong">&#13;
<strong>Oracle</strong>&#13;
</span>&#13;
 , <span class="strong">&#13;
<strong>PostgreSQL</strong>&#13;
</span>&#13;
 , and so on) can<a id="id502" class="indexterm"/>&#13;
 be <a id="id503" class="indexterm"/>&#13;
 used to store the data. In this case, we use <a id="id504" class="indexterm"/>&#13;
 <span class="strong">&#13;
<strong>SQLite3</strong>&#13;
</span>&#13;
 (the default option):<div class="informalexample">&#13;
<pre class="programlisting">DATABASES = {
       'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'mydatabase',
        }
      }</pre>&#13;
</div>&#13;
<p>The web pages are written in HTML, so a folder to store the HTML code is required. The <code class="literal">templates</code>&#13;
 folder is usually used to store the web pages layout:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">TEMPLATE_DIRS = (
    os.path.join(BASE_DIR, 'templates'),
)</pre>&#13;
</div>&#13;
</li>&#13;
<li class="listitem">To embellish a<a id="id505" class="indexterm"/>&#13;
 website, the CSS formatting and JavaScript code are usually stored in another folder, <code class="literal">static</code>&#13;
 , at the same level as the <code class="literal">server</code>&#13;
 folder. Then the settings need to be configured to take the files from the folder:<div class="informalexample">&#13;
<pre class="programlisting">MEDIA_ROOT = os.path.join(BASE_DIR, 'static')
STATIC_URL = '/static/'
MEDIA_URL = ''
STATIC_ROOT = ''
STATICFILES_DIRS = ( os.path.join(BASE_DIR, "static"), )</pre>&#13;
</div>&#13;
</li>&#13;
<li class="listitem">To set the URL of the website, the settings are configured to take the path from the file (in this case, <code class="literal">test_server/urls.py</code>&#13;
 ):<div class="informalexample">&#13;
<pre class="programlisting">ROOT_URLCONF = 'test_server.urls'</pre>&#13;
</div>&#13;
</li>&#13;
<li class="listitem">It is possible to set up a file to store all the printout statements we want to put in the code for debugging purposes. We use the <code class="literal">logging</code>&#13;
 library and the following configuration:<div class="informalexample">&#13;
<pre class="programlisting">LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'standard': {
            'format': '%(asctime)s %(levelname)s %(name)s %(message)s'
        },
    },
    'handlers': {
        'default': {
            'level':'DEBUG',
            'class':'logging.handlers.RotatingFileHandler',
            'filename': 'test_server.log',
            'maxBytes': 1024*1024*5, # 5 MB
            'backupCount': 5,
            'formatter':'standard',
        },  
    },
'loggers': {
        '': {
            'handlers': ['default'],
            'level': 'DEBUG',
            'propagate': True
        },
    }
}</pre>&#13;
</div>&#13;
<p>Here, the <code class="literal">test_server.log</code>&#13;
 file stores all the print statements defined using the <code class="literal">logging</code>&#13;
 library (for example, <code class="literal">logging.debug('write something')</code>&#13;
 ).</p>&#13;
</li>&#13;
</ul>&#13;
</div>&#13;
<p>Now that all the<a id="id506" class="indexterm"/>&#13;
 most important settings are configured, we can focus on developing a new app that creates a simple email address book. So we create the app as usual:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py startapp addresesapp</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Now, we add the templates and static folder on the root <code class="literal">test_server</code>&#13;
 directory of the server:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>├── addresesapp</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│</strong>&#13;

</span>&#13;


<span class="strong">
<strong>   ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── admin.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── migrations</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── models.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│   ├── tests.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>│</strong>&#13;

</span>&#13;


<span class="strong">
<strong>   └── views.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>├── manage.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>└── test_server</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── __init__.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── __init__.pyc</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── settings.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── settings.pyc</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── static</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── templates</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    ├── </strong>&#13;

</span>&#13;


<span class="strong">
<strong>urls.py</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    └── wsgi.py</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Note that<a id="id507" class="indexterm"/>&#13;
 the <code class="literal">nameapp</code>&#13;
 on the <code class="literal">INSTALLED_APPS</code>&#13;
 becomes <code class="literal">addressesapp</code>&#13;
 . In the following section, we will discuss the main features of how to implement the app. All the code can be found in the <code class="literal">chapter_6</code>&#13;
 folder of the author's GitHub repository (<a class="ulink" href="https://github.com/ai2010/machine_learning_for_the_web/tree/master/chapter_6">https://github.com/ai2010/machine_learning_for_the_web/tree/master/chapter_6</a>&#13;
 ).</p>&#13;
</div>&#13;
</div>&#13;
</div>&#13;

<div class="section" title="Writing an app &#x2013; most important features">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h1 class="title"><a id="ch06lvl1sec40"/>&#13;
 Writing an app – most important features</h1>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>To create a<a id="id508" class="indexterm"/>&#13;
 web application that stores e-mail addresses, we will need a table that stores the data and web pages that allow the end user to add, delete, and review the address book. Furthermore, we may want to transform the address book to read as a spreadsheet, or send the data to another app through the Internet. There are specific Django features to accomplish all these actions (<code class="literal">models</code>&#13;
 , <code class="literal">views</code>&#13;
 , <code class="literal">admin</code>&#13;
 , API REST-framework, and <code class="literal">commands</code>&#13;
 ) and we will now discuss the way the data is stored.</p>&#13;
<div class="section" title="Models">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec40"/>&#13;
 Models</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>To create an e-mail address book, we need to store, in a table, the name of each contact with their e-mail address. A table in Django is called a model and it is defined in the <code class="literal">models.py</code>&#13;
 file:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from django.db import models</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from django.utils.translation import ugettext_lazy as _</strong>&#13;

</span>&#13;



<span class="strong">
<strong>class Person(models.Model):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    name = models.CharField(_('Name'), max_length=255, unique=True)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    mail = models.EmailField(max_length=255, blank=True)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    #display name on admin panel</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    def __unicode__(self):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return self.name</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>In Django, the <a id="id509" class="indexterm"/>&#13;
 columns of a table are the fields of the model, and can be<a id="id510" class="indexterm"/>&#13;
 of different types: integer, char, and so on. Note that Django automatically adds an incremental ID field to any new object. The unique option means that duplicate names cannot exist in the model, and blank states whether the field can be empty or not. The <code class="literal">__unicode__</code>&#13;
 function is optional, and it is used to render each person as a string (we set the name string in this case).</p>&#13;
<p>Now that the model has been created, we need to apply it to the SQLite database:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py makemigrations</strong>&#13;

</span>&#13;


<span class="strong">
<strong>python manage.py migrate</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>&#13;
<code class="literal">makemigrations</code>&#13;
 will transform the model changes to migration files (for folder <code class="literal">migrations</code>&#13;
 inside <code class="literal">addressesapp</code>&#13;
 ), while <code class="literal">migrate</code>&#13;
 applies the change to the database schema. Note that in case multiple applications are used by the same website, then the command to<a id="id511" class="indexterm"/>&#13;
 generate <a id="id512" class="indexterm"/>&#13;
 migrations is <code class="literal">python manage.py makemigrations 'appname'</code>&#13;
 .</p>&#13;
</div>&#13;
<div class="section" title="URL and views behind HTML web pages">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec41"/>&#13;
 URL and views behind HTML web pages</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>Now that <a id="id513" class="indexterm"/>&#13;
 we know how to store data, we need to record contacts through a <a id="id514" class="indexterm"/>&#13;
 web page and show the contacts in another page. In the<a id="id515" class="indexterm"/>&#13;
 following section, the pages are described giving a brief overview of the main properties of HTML pages.</p>&#13;
<div class="section" title="HTML pages">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h3 class="title"><a id="ch06lvl3sec35"/>&#13;
 HTML pages</h3>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>All the code<a id="id516" class="indexterm"/>&#13;
 explained in this section is stored in the folder template under the <code class="literal">test_server</code>&#13;
 folder.</p>&#13;
<p>The main page of the application allows the user to record a new contact, and it looks like the following screenshot:</p>&#13;
<div class="mediaobject"><img src="Image00528.jpg" alt="HTML pages"/>&#13;
</div>&#13;
<p style="clear:both; height: 1em;"/>&#13;
<p>As you can see, the body of the page is specified by two boxes to be filled in with the person's name and their e-mail address, pressing <span class="strong">&#13;
<strong>Add</strong>&#13;
</span>&#13;
 to add them to the database. The HTML file, <code class="literal">home.html</code>&#13;
 , is as follows:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">{% extends "addressesapp/base.html" %}

{% block content %}
        &lt;form action="" method="POST"&gt;
            {% csrf_token %}
            &lt;h2 align = Center&gt;Add person to address book &lt;/h2&gt;
            &lt;p&gt; &lt;br&gt;&lt;br&gt;&lt;/p&gt;
            &lt;p align = Center&gt;&lt;input type="search" class="span3" placeholder="person" name="name" id="search" autofocus /&gt; &lt;/p&gt;
            &lt;p align = Center&gt;&lt;input type="search" class="span3" placeholder="email" name="email" id="search" autofocus /&gt; &lt;/p&gt;
            &lt;p align = Center&gt;&lt;button type="submit" class="btn btn-primary btn-large pull-center"&gt;Add &amp;raquo;&lt;/button&gt;&lt;/p&gt;
        &lt;/form&gt;  
{% endblock content %}</pre>&#13;
</div>&#13;
<p>We used the <a id="id517" class="indexterm"/>&#13;
 POST form to submit the data collected by the two paragraph fields (specified by <code class="literal">&lt;p&gt;...&lt;/p&gt;</code>&#13;
 ) and activated by the <span class="strong">&#13;
<strong>Add</strong>&#13;
</span>&#13;
 button tag (<code class="literal">&amp;raquo</code>&#13;
 : is to render the small arrows after the text). The title of the page, <span class="strong">&#13;
<strong>Add person to address book</strong>&#13;
</span>&#13;
 , is rendered by a header of type 2 (<code class="literal">&lt;h2&gt;...&lt;/h2&gt;</code>&#13;
 ). Note the <code class="literal">csrt_token</code>&#13;
 tag, which enables the<a id="id518" class="indexterm"/>&#13;
 cross-site forgery protection request (see more at <a class="ulink" href="https://www.squarefree.com/securitytips/web-developers.html#CSRF">https://www.squarefree.com/securitytips/web-developers.html#CSRF</a>&#13;
 ).</p>&#13;
<p>The style of the page (CSS and JavaScript files), as well as the page footer and the header bar with the <span class="strong">&#13;
<strong>Home</strong>&#13;
</span>&#13;
 , <span class="strong">&#13;
<strong>Emails Book</strong>&#13;
</span>&#13;
 , and <span class="strong">&#13;
<strong>Find</strong>&#13;
</span>&#13;
 buttons, are defined in the <code class="literal">base.html</code>&#13;
 file (see the <code class="literal">template</code>&#13;
 folder). The <span class="strong">&#13;
<strong>Find</strong>&#13;
</span>&#13;
 button is implemented as a form:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">&lt;form class="navbar-search pull-left" action="{% url 'get_contacts' %}" method="GET"&gt;
          {% csrf_token %}
           &lt;div style="overflow: hidden; padding-right: .5em;"&gt;
             &lt;input type="text" name="term" style="width: 70%;" /&gt;
             &lt;input type="submit" name="search" value="Find" size="30" style="float: right" /&gt;
            &lt;/div&gt;
        &lt;/form&gt;</pre>&#13;
</div>&#13;
<p>The <code class="literal">div</code>&#13;
 tag has been used to define the text field and the <span class="strong">&#13;
<strong>Find</strong>&#13;
</span>&#13;
 button, which activates a GET call to the URL defined as <code class="literal">get_contacts</code>&#13;
 in the <code class="literal">urls.py</code>&#13;
 file (see the following section).</p>&#13;
<p>The other page to display is the address book:</p>&#13;
<div class="mediaobject"><img src="Image00529.jpg" alt="HTML pages"/>&#13;
</div>&#13;
<p style="clear:both; height: 1em;"/>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">{% extends "addressesapp/base.html" %}

{% block content %}
&lt;h2 align = Center&gt;Email address book&lt;/h2&gt;
&lt;P align=Center&gt;[
{% for letter in alphabet %}
which is given by the book.html file:
{% extends "addressesapp/base.html" %}

{% block content %}
&lt;h2 align = Center&gt;Email address book&lt;/h2&gt;
&lt;P align=Center&gt;[
{% for letter in alphabet %}
&lt;a href="{% url 'addressesbook'  %}?letter={{letter}}" &gt; {{letter}} &lt;/a&gt;
{% endfor %}
|&lt;a href="addressesapp/book.html"&gt; Index &lt;/a&gt; ] &lt;/P&gt;
&lt;section id="gridSystem"&gt;
{% for contact in contacts %}
&lt;div class="row show-grid"&gt;
        &lt;p align = Center&gt;&lt;strong&gt; name: &lt;/strong&gt;{{ contact.name }} &lt;strong&gt;email:&lt;/strong&gt; {{ contact.mail }}&amp;nbsp&amp;nbsp&amp;nbsp&amp;nbsp
        &lt;a class="right" href="{% url 'delete_person' contact.name  %}" &gt;   delete &lt;/a&gt;
    &lt;/p&gt;
&lt;/div&gt;
{% endfor %}
&lt;/section&gt;

{% endblock content %}</pre>&#13;
</div>&#13;
<p>Again, <code class="literal">base.html</code>&#13;
 is called to render the main header buttons, the footer, and the style. After a header (of type 2) containing <span class="strong">&#13;
<strong>Email address book</strong>&#13;
</span>&#13;
 , a <code class="literal">for</code>&#13;
 loop on the alphabet letters, <code class="literal">{% for letter in alphabet %}</code>&#13;
 , is performed to show only the contacts starting with the <a id="id519" class="indexterm"/>&#13;
 corresponding letter. This is achieved by calling the <code class="literal">addressesbook</code>&#13;
 URL with the letter to query <code class="literal">{{letter}}</code>&#13;
 . The list of contacts shown is then rendered, looping over the contacts list <code class="literal">{% for contact in contacts %}</code>&#13;
 : a paragraph tag displays the name, email, and a button to use to delete the person from the database. We will now discuss the implementation of the page actions (add, find, or delete person, and show address book).</p>&#13;
</div>&#13;
</div>&#13;
<div class="section" title="URL declarations and views">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec42"/>&#13;
 URL declarations and views</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>We will<a id="id520" class="indexterm"/>&#13;
 now discuss the way <code class="literal">urls.py</code>&#13;
 and <code class="literal">views.py</code>&#13;
 work<a id="id521" class="indexterm"/>&#13;
 together with the HTML code of each page to perform the desired <a id="id522" class="indexterm"/>&#13;
 actions.</p>&#13;
<p>As we have seen, the two main pages of the application, home and address book, are associated with a URL, which in Django is declared in the <code class="literal">urls.py</code>&#13;
 file:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from django.conf.urls import patterns, include, url</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from django.contrib import admin</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from addressesapp.api import AddressesList</strong>&#13;

</span>&#13;



<span class="strong">
<strong>urlpatterns = patterns('',</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^docs/', include('rest_framework_swagger.urls')),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^$','addressesapp.views.main'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^book/','addressesapp.views.addressesbook',name='addressesbook'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^delete/(?P&lt;name&gt;.*)/','addressesapp.views.delete_person', name='delete_person'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^book-search/','addressesapp.views.get_contacts', name='get_contacts'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^addresses-list/', AddressesList.as_view(), name='addresses-list'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    url(r'^notfound/','addressesapp.views.notfound',name='notfound'),url(r'^admin/', include(admin.site.urls)),)</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Each URL is specified by a regex (an <code class="literal">r</code>&#13;
 in front of the URL string), so the main page is specified by <code class="literal">http://127.0.0.1:8000/</code>&#13;
 (the <code class="literal">^</code>&#13;
 start symbol is followed by the <code class="literal">$</code>&#13;
 end symbol) and its action (<code class="literal">add record</code>&#13;
 ) is implemented in the <code class="literal">main</code>&#13;
 function of the <code class="literal">views.py</code>&#13;
 file:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>def main(request):    </strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context={}</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    if request.method == 'POST':</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        post_data = request.POST</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data = {}</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data['name'] = post_data.get('name', None)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data['email'] = post_data.get('email', None)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if data:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return redirect('%s?%s' % (reverse('addressesapp.views.main'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                                urllib.urlencode({'q': data})))</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    elif request.method == 'GET':</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        get_data = request.GET</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data= get_data.get('q',None)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if not data:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                'addressesapp/home.html', RequestContext(request, context))</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data = literal_eval(get_data.get('q',None))</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        print data</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if not data['name'] and not data['email']:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                'addressesapp/home.html', RequestContext(request, context))</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                </strong>&#13;

</span>&#13;


<span class="strong">
<strong>        #add person to emails address book or update</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if Person.objects.filter(name=data['name']).exists():</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p = Person.objects.get(name=data['name'])</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p.mail=data['email']</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p.save()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        else:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p = Person()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p.name=data['name']</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p.mail=data['email']</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            p.save()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            </strong>&#13;

</span>&#13;


<span class="strong">
<strong>        #restart page</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            'addressesapp/home.html', RequestContext(request, context)) </strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Whenever the<a id="id523" class="indexterm"/>&#13;
 user posts a new contact to be store, the POST<a id="id524" class="indexterm"/>&#13;
 method <a id="id525" class="indexterm"/>&#13;
 redirects the call to a GET method. If the name and the email have been provided, a new object of the <code class="literal">Person</code>&#13;
 model will be added, or updated if it already exists. In this method, the same name but in capital letters will be considered a distinct name, so <code class="literal">Andrea</code>&#13;
 , <code class="literal">ANDREA</code>&#13;
 , and <code class="literal">andrea</code>&#13;
 will be three separate contacts. To change this, the reader can simply apply the lower function over the name field, so that the<a id="id526" class="indexterm"/>&#13;
 three <code class="literal">andrea</code>&#13;
 expressions will all refer to one <code class="literal">andrea</code>&#13;
 .</p>&#13;
<p>The<a id="id527" class="indexterm"/>&#13;
 find<a id="id528" class="indexterm"/>&#13;
 action in the <code class="literal">base.html</code>&#13;
 file is associated with the <code class="literal">http://127.0.0.1:8000/book-search/</code>&#13;
 URL, and the action is defined in the <code class="literal">get_contacts</code>&#13;
 function in <code class="literal">views.py</code>&#13;
 :</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>def get_contacts(request):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    logging.debug('here')</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    if request.method == 'GET':</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        get_data = request.GET</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        data= get_data.get('term','')</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if data == '':</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>               'addressesapp/nopersonfound.html', RequestContext(request, {}))</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        else:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return redirect('%s?%s' % (reverse('addressesapp.views.addressesbook'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    urllib.urlencode({'letter': data})))</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>If the user specifies a non-empty string on the text header field, the function will redirect to the <code class="literal">addressesbook</code>&#13;
 function with the name to search (otherwise a not found page is displayed).</p>&#13;
<p>The header button <span class="strong">&#13;
<strong>Emails book</strong>&#13;
</span>&#13;
 is linked to the <code class="literal">http://127.0.0.1:8000/book/</code>&#13;
 URL, which shows the contacts according to the <code class="literal">addressesbook</code>&#13;
 function:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>def addressesbook(request):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context = {}</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    logging.debug('address book')</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    get_data = request.GET</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    letter = get_data.get('letter',None)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    if letter:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        contacts = Person.objects.filter(name__iregex=r"(^|\s)%s" % letter)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    else:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        contacts = Person.objects.all()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    #sorted alphabetically</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    contacts = sort_lower(contacts,"name")#contacts.order_by("name")</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context['contacts']=contacts</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    alphabetstring='ABCDEFGHIJKLMNOPQRSTUVWXYZ'</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context['alphabet']=[l for l in alphabetstring]</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        'addressesapp/book.html', RequestContext(request, context)) </strong>&#13;

</span>&#13;


<span class="strong">
<strong>def sort_lower(lst, key_name):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    return sorted(lst, key=lambda item: getattr(item, key_name).lower())</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>The letter field <a id="id529" class="indexterm"/>&#13;
 stores the name (in case of redirection from the <span class="strong">&#13;
<strong>Find</strong>&#13;
</span>&#13;
 header button) or the letter (in case of calling from the emails book page), and a lookup<a id="id530" class="indexterm"/>&#13;
 over the contacts in the <code class="literal">Person</code>&#13;
 model is performed. The retrieved contacts <a id="id531" class="indexterm"/>&#13;
 are then stored in the <code class="literal">contacts</code>&#13;
 context object, while the letters are stored in the <code class="literal">alphabet</code>&#13;
 context object. If no letter is specified, all the contacts in the database are returned. Note that the name can have both a capital and a lowercase first letter, so the usual <code class="literal">order_by</code>&#13;
 method will not sort the names in alphabetical order. Therefore, the function <code class="literal">sort_lower</code>&#13;
 will convert each name to lowercase and sort the contacts alphabetically.</p>&#13;
<p>The delete action is performed by the <code class="literal">delete_person</code>&#13;
 function and called by the <code class="literal">http://127.0.0.1:8000/delete/(?P&lt;name&gt;.*)/</code>&#13;
 URL. The <code class="literal">.*</code>&#13;
 indicates that all the characters are valid for forming a name (note that if we wanted only character numbers and whitespace, we should have <code class="literal">[a-zA-Z0-9 ]+</code>&#13;
 ):</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>def delete_person(request,name):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    if Person.objects.filter(name=name).exists():</strong>&#13;

</span>&#13;


<span class="strong">
<strong>       p =  Person.objects.get(name=name)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>       p.delete()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>       </strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context = {}</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    contacts = Person.objects.all()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    #sorted alphabetically</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    contacts = sort_lower(contacts,"name")#contacts.order_by("name")</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    context['contacts']=contacts   </strong>&#13;

</span>&#13;


<span class="strong">
<strong>    return render_to_response(</strong>&#13;

</span>&#13;


<span class="strong">
<strong>'addressesapp/book.html', RequestContext(request, context))</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>The <code class="literal">name</code>&#13;
 query variable is searched on the <code class="literal">Person</code>&#13;
 table in the database and deleted. The function returns the emails book page with the remaining contacts.</p>&#13;
<p>In the same way, the not found URL activates the not found function, and you should now be able to understand how it works.</p>&#13;
<p>The admin URL refers to the Django interface (see following section) while the docs is the REST framework swagger discussed in the <span class="emphasis">&#13;
<em>RESTful application programming interfaces (APIs)</em>&#13;
</span>&#13;
 section of this book.</p>&#13;
</div>&#13;
</div>&#13;

<div class="section" title="Admin">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h1 class="title"><a id="ch06lvl1sec41"/>&#13;
 Admin</h1>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>The <a id="id532" class="indexterm"/>&#13;
 admin panel is a user interface for managing the application, accessible through the browser. In the <code class="literal">admin.py</code>&#13;
 file, we can add the model just created with the following command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from models import Person</strong>&#13;

</span>&#13;


<span class="strong">
<strong>admin.site.register(Person)</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>All the models can be accessed by a user interface at:</p>&#13;
<p>&#13;
<code class="literal">http://127.0.0.1:8000/admin/</code>&#13;
</p>&#13;
<p>At this link, the user name and password are required. We create that with the following command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py createsuperuser</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Then we type a username and password (in my case, <code class="literal">andrea/a</code>&#13;
 ).</p>&#13;
<p>Now, we can explore the panel that follows:</p>&#13;
<div class="mediaobject"><img src="Image00530.jpg" alt="Admin"/>&#13;
</div>&#13;
<p style="clear:both; height: 1em;"/>&#13;
<p>Clicking on <span class="strong">&#13;
<strong>Persons</strong>&#13;
</span>&#13;
 , we will see all <code class="literal">Person</code>&#13;
 objects shown by name (because the<code class="literal">__unicode__</code>&#13;
 function in the model refers to the name field):</p>&#13;
<div class="mediaobject"><img src="Image00531.jpg" alt="Admin"/>&#13;
</div>&#13;
<p style="clear:both; height: 1em;"/>&#13;
<div class="section" title="Shell interface">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec43"/>&#13;
 Shell interface</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>The <a id="id533" class="indexterm"/>&#13;
 Django framework also provides a shell to explore the <a id="id534" class="indexterm"/>&#13;
 created models and test them. To start it, we type the following in the terminal:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py shell</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Now we can import the <code class="literal">Person</code>&#13;
 model and play with it:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>In [1]: from addressesapp.models import Person</strong>&#13;

</span>&#13;


<span class="strong">
<strong>In [2]: newcontact = Person()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>In [3]: newcontact.name = 'myfriend1'</strong>&#13;

</span>&#13;


<span class="strong">
<strong>In [4]: newcontact.mail = 'bla@.com'</strong>&#13;

</span>&#13;


<span class="strong">
<strong>In [5]: newcontact.save()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>In [6]: Person.objects.all()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>Out[6]: [&lt;Person: ss&gt;, &lt;Person: Andrea Isoni&gt;, &lt;Person: www 1&gt;, &lt;Person: addd-ww&gt;, &lt;Person: myfriend1&gt;]</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>In these lines, we have created a new contact, <code class="literal">myfriend1</code>&#13;
 , and verified it has been added to the list of <code class="literal">Person</code>&#13;
 objects.</p>&#13;
</div>&#13;
<div class="section" title="Commands">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec44"/>&#13;
 Commands</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>The Django framework also allows us to write custom commands through the <code class="literal">manage.py</code>&#13;
 module. For example, we would like to export the entire list of contacts into a CSV file. To<a id="id535" class="indexterm"/>&#13;
 achieve that, we create a <code class="literal">commands</code>&#13;
 folder inside a <code class="literal">management</code>&#13;
 folder (with <code class="literal">__init__.py</code>&#13;
 in each folder). The file implements the<a id="id536" class="indexterm"/>&#13;
 custom command to export the contacts list to CSV, extending the <code class="literal">BaseCommand</code>&#13;
 class:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from addressesapp.models import Person</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from django.core.management.base import BaseCommand, CommandError</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from optparse import make_option</strong>&#13;

</span>&#13;


<span class="strong">
<strong>import csv</strong>&#13;

</span>&#13;



<span class="strong">
<strong>class Command(BaseCommand):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    </strong>&#13;

</span>&#13;


<span class="strong">
<strong>option_list = BaseCommand.option_list + (</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                make_option('--output',</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                             dest='output', type='string',</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                             action='store',</strong>&#13;

</span>&#13;


<span class="strong">
<strong>                             help='output file'),</strong>&#13;

</span>&#13;


<span class="strong">
<strong>       )</strong>&#13;

</span>&#13;



<span class="strong">
<strong>    def person_data(self, person):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>            return [person.name,person.mail]</strong>&#13;

</span>&#13;



<span class="strong">
<strong>    def handle(self, *args, **options):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         outputfile = options['output']</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         </strong>&#13;

</span>&#13;


<span class="strong">
<strong>contacts = Person.objects.all()</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         </strong>&#13;

</span>&#13;


<span class="strong">
<strong>         header = ['Name','email']</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         f = open(outputfile,'wb')</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         writer.writerow(header)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>         for person in contacts:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>             writer.writerow(self.person_data(person))</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>The command <a id="id537" class="indexterm"/>&#13;
 must define a <code class="literal">handler</code>&#13;
 function, which will perform the<a id="id538" class="indexterm"/>&#13;
 export operation. Type the following from the <code class="literal">test_server</code>&#13;
 folder:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>python manage.py contacts_tocsv –output='contacts_list.csv'</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
</div>&#13;
<div class="section" title="RESTful application programming interfaces (APIs)">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h2 class="title"><a id="ch06lvl2sec45"/>&#13;
 RESTful application programming interfaces (APIs)</h2>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>A RESTful API is<a id="id539" class="indexterm"/>&#13;
 an application programming interface that employs<a id="id540" class="indexterm"/>&#13;
 HTTP requests (such as GET and POST) to manage the data of an application. In this case, the API is <a id="id541" class="indexterm"/>&#13;
 used to obtain the address book through a <code class="literal">curl</code>&#13;
 call. In order to do that, we have defined the <code class="literal">rest_framework</code>&#13;
 app in the <code class="literal">INSTALLED_APPS</code>&#13;
 section of <code class="literal">settings.py</code>&#13;
 , and then the <code class="literal">api.py</code>&#13;
 file implements the API:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from rest_framework import viewsets, generics, views</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from rest_framework.response import Response</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from rest_framework.permissions import AllowAny</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from rest_framework.pagination import PageNumberPagination</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from addressesapp.serializers import AddressesSerializer</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from addressesapp.models import Person</strong>&#13;

</span>&#13;



<span class="strong">
<strong>class LargeResultsSetPagination(PageNumberPagination):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    page_size = 1000</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    page_size_query_param = 'page_size'</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    max_page_size = 10000</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    </strong>&#13;

</span>&#13;


<span class="strong">
<strong>class AddressesList(generics.ListAPIView):</strong>&#13;

</span>&#13;



<span class="strong">
<strong>    serializer_class = AddressesSerializer</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    permission_classes = (AllowAny,)</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    pagination_class = LargeResultsSetPagination</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    </strong>&#13;

</span>&#13;


<span class="strong">
<strong>    def get_queryset(self):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        query = self.request.query_params.get</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        if query('name'):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>           return Person.objects.filter(name=query('name')) </strong>&#13;

</span>&#13;


<span class="strong">
<strong>        else:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>           return Person.objects.all()</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>We have <a id="id542" class="indexterm"/>&#13;
 used the <code class="literal">ListAPIView</code>&#13;
 class to return all <code class="literal">Person</code>&#13;
 objects, or<a id="id543" class="indexterm"/>&#13;
 only the one that matches the <code class="literal">name</code>&#13;
 value. Since the returned list may be too large, we need to override the <code class="literal">PageNumberPagination</code>&#13;
 class to show more objects on the same page; the <code class="literal">LargeResultsSetPagination</code>&#13;
 class allows a maximum of 10,000 objects per page. This API needs to transform the <code class="literal">Person</code>&#13;
 objects to a JSON format object, which is performed by the <code class="literal">AddressesSerializer serializer</code>&#13;
 implemented in <code class="literal">serializers.py</code>&#13;
 :</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>from addressesapp.models import Person</strong>&#13;

</span>&#13;


<span class="strong">
<strong>from rest_framework import serializers</strong>&#13;

</span>&#13;



<span class="strong">
<strong>class AddressesSerializer(serializers.HyperlinkedModelSerializer):</strong>&#13;

</span>&#13;


<span class="strong">
<strong>    </strong>&#13;

</span>&#13;


<span class="strong">
<strong>    class Meta:</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        model = Person</strong>&#13;

</span>&#13;


<span class="strong">
<strong>        fields = ('id', 'name', 'mail')</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Now the address book can be retrieved using the <code class="literal">curl</code>&#13;
 command:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>curl -X GET http://localhost:8000/addresses-list/</strong>&#13;

</span>&#13;


</pre>&#13;
</div>&#13;
<p>Note the forward slash at the end of the URL. In the same way, we can Note the forward slash at the end of the URL. In the same way, we can specify a name value to get their email:</p>&#13;
<div class="informalexample">&#13;
<pre class="programlisting">
<span class="strong">
<strong>curl -X GET http://localhost:8000/addresses-st/?name=name_value</strong>&#13;

</span>&#13;

</pre>&#13;
</div>&#13;
<p>Note that we can always specify the page query parameter, in case the number of contacts is too large (or change the pagination size value). In the <code class="literal">urls.py</code>&#13;
 file, we also defined the docs URL to be our Swagger RESTful API, which allows the user to explore and test the API using <a id="id544" class="indexterm"/>&#13;
 a browser:</p>&#13;
<div class="mediaobject"><img src="Image00532.jpg" alt="RESTful application programming interfaces (APIs)"/>&#13;
</div>&#13;
<p style="clear:both; height: 1em;"/>&#13;
<p>This is a<a id="id545" class="indexterm"/>&#13;
 user-friendly way to verify that the API is working as expected and the data is shown in the correct format.</p>&#13;
</div>&#13;
</div>&#13;

<div class="section" title="Summary">&#13;
<div class="titlepage">&#13;
<div>&#13;
<div>&#13;
<h1 class="title"><a id="ch06lvl1sec42"/>&#13;
 Summary</h1>&#13;
</div>&#13;
</div>&#13;
</div>&#13;
<p>In this chapter, we have discussed how to create a web application using the Django framework. The main features of Django, such as the <code class="literal">models</code>&#13;
 , <code class="literal">admin</code>&#13;
 , <code class="literal">views</code>&#13;
 , <code class="literal">commands</code>&#13;
 , <code class="literal">shell</code>&#13;
 , and the <code class="literal">RESTful API</code>&#13;
 , have been described, so the reader should now have the necessary knowledge to develop a web application in a real-life scenario.</p>&#13;
<p>We will use this knowledge, together with what we have learned in the preceding chapters, to build our movie recommendation engine and movie sentiment analysis application in the following two chapters.</p>&#13;
</div>&#13;
</body></html>